.MessageBox {
    padding: 1vmax;
    margin: 1.8vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    font-size: 1.2vmax;
    clear: both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right {
    float: right;
    background-color: crimson;
    color: white;
    text-align: right;

}

.left {
    text-align: left;
    float: left;
    background-color: rgb(196, 255, 184);

}