body {
    margin: 0;
}

@media (max-aspect-ratio:7/10) {

    .JoinPage {
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
    }

    .JoinContainer {
        margin-top: 30vw !important;
        width: 100%;

    }

    .JoinContainer>img {
        width: 30vw !important;
    }

    .JoinContainer>h1 {
        font-size: 6vw !important;
        width: 50vw;
        border-bottom: 0.6vw solid white;
        padding: 3vw;
    }

    #joinInput {
        width: 55vw !important;
        padding: 4vw !important;
        font-size: 5vw !important;
        margin: 5vw !important;
    }

    .JoinBtn {
        width: 55vw !important;
        padding: 4vw !important;
        font-size: 5vw !important;
        margin: 2vmax;
        cursor: pointer;
    }

    .ChatContainer {
        background-color: white;
        height: 100% !important;
        width: 100% !important;
    }

    .Header>h2 {
        margin: 7vw !important;
        font-size: 5vw !important;
    }

    .Header img {
        margin: 13vw !important;
        transform: scale(2) !important;
    }

    .Header img:hover {
        transform: scale(3.2) !important;
    }

    .ChatBox {
        height: 70% !important;

    }

    .inputBox {
        height: 10%;
    }

    #ChatInput {
        padding: 4vw !important;
        font-size: 4vw !important;
    }

    .MessageBox {
        padding: 3vw !important;
        margin: 3vw !important;
        border-radius: 1.5vw !important;
        font-size: 3.7vw !important;
    }



}